<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>error</title>

    <!-- CSS START  -->
    <link rel="stylesheet" href="../../plugins/bootstrap-3.3.7/dist/css/bootstrap.min.css">
    <!-- 	CSS END -->
    <style>
        .maindiv {
            margin-top: 30px;
        }

        .errMsg {
            color: red;;
        }
    </style>
</head>
<body>

<div class="container maindiv">
    <div class="starter-template" align="center">
        <h1 class="errMsg">ERROR</h1>
        <p class="lead"></p>
    </div>
</div>


</body>
</html>